@charset "utf-8";
/*
=======================================
bees CSS
=======================================
*/
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  width: 70%;
  max-width: 700px;
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#209cff),
    to(#68e0cf)
  );
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}
h2 {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #3fa9f5;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8em 0.8em; /*文字の上下 左右の余白*/
  color: #494949; /*文字色*/
  background: #f4f4f4; /*背景色*/
  border-left: solid 5px #7db4e6; /*左線*/
  border-bottom: solid 3px #d7d7d7; /*下線*/
}
.text {
  width: 90%;
  margin: 0 auto;
  color: #666666;
  font-size: 1rem;
  line-height: 1.5;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/*
=======================================
grid layout CSS
=======================================
*/
body {
  max-width: 1024px;
  font-family: YakuHanMPs_Noto, "Noto Serif JP", serif;
  margin: 0 auto;
  background-image: url("img/water.jpg");
  background-size: cover;
  display: grid;
  grid-template:
    "------ ------ ----- " 10px
    "header header header" 100px
    "nav    nav    nav   " 70px
    "main   main   main  "
    "footer footer footer" 70px;
}
@media screen and (max-width: 1024px) {
  body {
    display: grid;
    grid-template:
      "------ ------ ----- " 10px
      "header header header" 100px
      "nav    nav    nav   " 10px
      "main   main   main  "
      "footer footer footer" 70px;
  }
}
/*
=======================================
header CSS
=======================================
*/
header {
  grid-area: header;
  display: flex;
}
.main_rogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
/*
=======================================
nav CSS
=======================================
*/
nav {
  grid-area: nav;
  background: rgb(3, 238, 252);
  background: linear-gradient(
    180deg,
    rgba(3, 238, 252, 1) 5%,
    rgba(3, 96, 252, 1) 40%,
    rgba(3, 96, 252, 0.8830882694874825) 60%,
    rgba(3, 238, 252, 1) 95%
  );
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav ul li {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  white-space: nowrap;
}
.btn-square {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #000;
  border-bottom: solid 4px #627295;
  border-radius: 10px;
}
.btn-square:hover {
  color: #fff;
}
.btn-square:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
/*
=======================================
main CSS
=======================================
*/
main {
  grid-area: main;
  background-color: #fff;
}
/*
=======================================
footer CSS
=======================================
*/
footer {
  grid-area: footer;
  background-color: #3fa9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/*
=======================================
ハンバーガーメニュー CSS
=======================================
*/
@media screen and (max-width: 1024px) {
  .menubutton {
    display: block;
    height: 80px;
    width: 80px;
    background-color: #3fa9f5;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 10px;
    z-index: 10004;
  }
  .menubutton div {
    height: 4px;
    width: 60%;
    background: #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  .menubutton div:nth-of-type(1) {
    transform: translate(-50%, -19px);
  }
  .menubutton div:nth-of-type(3) {
    transform: translate(-50%, 15px);
  }
  .menubutton.active div:nth-of-type(1) {
    transform: rotate(45deg) translate(-50%, 0px);
    transform-origin: 0% 50%;
  }
  .menubutton.active div:nth-of-type(2) {
    opacity: 0;
  }
  .menubutton.active div:nth-of-type(3) {
    transform: rotate(-45deg) translate(-50%, 0px);
    transform-origin: 0% 50%;
  }
  nav {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10003;
    overflow: auto;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 50px;
  }
  nav ul li:not(:first-of-type) {
    margin-top: 20px;
  }
  nav.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .mask.active {
    opacity: 0.7;
    visibility: visible;
    z-index: 10002;
  }
}
/*
=======================================
topに戻る
=======================================
*/
#page_top {
  position: fixed;
  right: 30px;
  bottom: 40px;
  background: #3fa9f5;
  opacity: 0.9;
  border-radius: 50%;
  z-index: 1;
}

#page_top a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

#page_top a::before {
  position: absolute;
  top: -15px;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f106";
  font-size: 60px;
  color: #fff;
  width: 60px;
  height: 60px;
  margin: auto;
  text-align: center;
}
